<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Demo Project covid-19">
<meta name="author" content="Programacion en web">

<title>Compra En casa</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" type="text/css" href="static/css/ayuda.css" th:href="@{/css/ayuda.css}">
<link rel="stylesheet" type="text/js" href="static/js/main.js" th:href="@{/js/main.js}">
</head>
<body >

	<header style="background-color:red;" class="header">
		<nav style="background-color:#94d15e" class="navbar navbar-expand-lg navbar-light bg-sucess ">
			<a class="navbar-brand"  th:href="@{/compraencasa}"><i class="fas fa-shopping-cart"></i>CompraEnCasa</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="hasAnyRole('ROLE_BUYER', 'ROLE_ADMIN')" class="nav-item "><a class="nav-link fas fa-user-plus" th:href="@{/compraencasa/cliente}">Cliente<span class="sr-only">(current)</span></a>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_SELLER', 'ROLE_BUYER')" class="nav-item  "><a class="nav-link fas fa-store"th:href="@{/compraencasa/productos}">Productos</a>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_SELLER', 'ROLE_ADMIN')" class="nav-item "><a class="nav-link fas fa-user-plus" th:href="@{/compraencasa/vendedor}">Vendedor</a>
					</li>
					<li sec:authorize="hasRole('ROLE_BUYER')" class="nav-item "><a class="nav-link fas fa-cart-plus" th:href="@{/compraencasa/compras}">Carrito</a>
					</li>
					
					<li sec:authorize="isAnonymous()" class="nav-item  ">
						<a class="btn btn-outline-warning"th:href="@{/compraencasa/signup}" aria-disabled="true">Registrarse</a>
						<a class="nav-link fas fa-sign-in-alt" th:href="@{/compraencasa/login}">Login</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
				        <a class="btn btn-secondary" th:href="@{/logout}" aria-disabled="true">Cerrar Sesión: <span sec:authentication="name">Username</span></a>
				    </li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div> 
			
			
			
		</nav>

	</header>



	<footer th:fragment="footer">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
		<div style="background-color: #94d15e;">
			<div class="container">


				<div class="row py-4 d-flex align-items-center">

					<div class="col-md-6 col-lg-7 text-center text-md-right">

						<h6 class="text-uppercase font-weight-bold" style="color: #09db13;"></h6>
						
					</div>
				</div>


			</div>
		</div>

		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3">


				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


					<h6 class="text-uppercase font-weight-bold" style="color: #000000;">Compraencasa</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p style= "text-align: justify;" >CompraEnCasa es una página donde podrás encontrar y elegir los mejores productos para que lleguen hacia ti en este tiempo de pandemia. Puedes contar con nostros!</p>

				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: #000000;">Puedes encontrarnos en:</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p style="color: #000000;">
						<i class="fas fa-home mr-3"></i> UPC Villa
					</p>
					<p style="color: #000000;">
						<i class="fas fa-phone mr-3"></i> 959642802
					</p>

				</div>

			</div>


		</div>
	


		<div class="footer-copyright text-center py-3" style="color: #ffffff; background-color:#94d15e;">
			Landing Page <a href="https://darterror123.github.io/LandingPage/">
				CompraEnCasa.com</a>
		</div>
	</footer>
	
	
	

</body>
</html>